form {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

label {
    display: block;
}

label:not(:nth-child(1)) {
    margin-top: 15px;
}

input,
textarea,
select {
  display: block;
  margin-top: 10px;
}
